body {
    background-color: #EDEAE5;
    color: #292929;
    font-family: 'Raleway';
    margin: 0;
}

.navigation { 
 background-color: #17352D;
 color: #F5F3EC;
 padding: 0px;
 border: 2px solid #DCD8D0;
 display: flex;
 list-style: none;
 position: sticky;
 top: 0;
 z-index: 1000;
}

.navigation a { 
 color: #F5F3EC;
 text-decoration: none;
 font-size: 12px;
 letter-spacing: .5px;
 text-transform: uppercase;
}

.navigation ul { 
 display: flex;
 align-items: center;
 list-style: none;
 margin: 0 auto;
 padding: 15px 0;
 gap: 30px;
}

.navigation a:hover {
    color: #91AA99;
}

.name-heading{
  color:#17352D;
  font-size: 50px;
  font-style: oblique;
  font-weight: 500;
  text-align: center;
}

.about-heading {
    font-size: 35px;
    font-weight: 400;
    color: #17352D;
    text-align: center;
    
}

#About {
    background-color: #F1EFE8;
    color: #292929;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: CCD2C8;
    text-align: center;
  
}

#Experience {

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;

}

.experience-heading {
  color: #EDEAE5;
  text-align: center;
  margin-bottom: 2px;
}

.experience-block {
    padding: 20px;
    margin: 10px;
    border: 1px solid #635936;
    background-color:  #17352D;
}

.experience-item {
    padding: 30px 0;
    border-bottom: 1px solid #5E5532;
}

.experience-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #EDEAE5;
}

.experience-description {
    max-width: 700px;
    margin-top: 15px;
    color: #DCD8D0;
}

.work-dates {
  color: #91AA99;
}


#Connect {

   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: auto;
   margin-right: auto;
   padding: 5px;
   text-align: center;
   background-color: #17352D;
   color:#CCD2C8;
   border: 2px solid #2F2F30;
    
}

.connect-heading{
  color: #F5F3EC;
}

#Connect ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 5px;
    
    
}

.skillsandprojectgroup {
    display: flex;
    list-style: none;
}

.skills-heading{ 
    color: #17352D;
    text-align: left;
    padding: 2px;
    margin: 2px;
  }

#Skills {

   margin-top: 12px;
   margin-bottom: 12px;
   margin-left: auto;
   margin-right: auto;
   background-color: #F1EFE8;
   color: #292929;
   padding: 2px;
   border: 2px solid #23483D;
    
}

#Skills ul{
 list-style-type: circle;
 list-style-position: inside;
 padding: 1px;
}

.projects-heading {
    color:#17352D;
  }

#Projects {

   margin-top: 12px;
   margin-bottom: 12px;
   margin-left: auto;
   margin-right: auto;
   padding: 2px;
   background-color: #F1EFE8;
   color: #292929;
   border: 2px solid #23483D;
}


#githubIcon {
    width: 40px;
    height: 40px;
}

#linkedinIcon {
    width: 40px;
    height: 40px;
}
